

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Tables</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Year</th>
                      <th>Month</th>
                      <th>Employee Name</th>
                      <th>Department</th>
                      <th>Role</th>
                      <th>Net Salary</th>
                      <th>Update</th>

                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Date</th>
                      <th>Year</th>
                      <th>Month</th>
                      <th>Employee Name</th>
                      <th>Department</th>
                      <th>Role</th>
                      <th>Net Salary</th>
                      <th></th>
                    </tr>
                  </tfoot>

                  <tbody>
                    {% for sal in salary %}
                    <tr>

                      <td><a href="">{{ sal.paymentdate}}</a></td>
                      <td>{{ sal.get_year}}</td>
                      <td>{{ sal.get_month_name}}</td>
                      <td>{{ sal.employee}}</td>
                      <td>{{ sal.employee.department}}</td>
                      <td>{{ sal.employee.role}}</td>
                      <td>{{ sal.get_net_salary}}</td>


                      <td>  <a href=""><button type="button" class="btn btn-primary"><i class="fas fa-user-edit"></i></button></td>


                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

   